:root {
  
}
/*******************************************/

.feature-img {
   border-radius: 14px; width: 100%;
   margin: 20px auto; aspect-ratio: 3:2 ;
}

/***************** 🔥 Related Post Hover *******************/
    #related-posts a {
      display: block;
      transition: 0.3s;
    }
    #related-posts a:hover {
      transform: translateX(5px);
    }
