:root {
   --bg:#f8f9fb;
   --header: #ffffff ;
   --card:#ffffff;
   --border:#e5e7eb;
   --text:#000;
}
/******************* Base ****************/
* {
  margin: 0 ; padding:0; box-sizing: border-box; user-select:none;
}
body {
  background: var(--bg);
  font-family: system-ui;
}
a { text-decoration:none; color: var(--text); }
